@import url("reset.css");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #252b42;
}

.header {
  font-size: 44px;
  padding: 50px;
  color: palevioletred;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 10px #d0da45;
}
.arrivals {
  padding: 10px 30px;
}
.block-1 {
  max-width: 220px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(204, 150, 192, 0.772);
}

.block-1-img {
  display: block;
}

.block-2 {
  max-height: 400px;
  padding: 40px;
  background-color: paleturquoise;
}

.info {
  padding: 20px;
  font-size: 22px;
}

.info > span {
  font-size: 40px;
}
.overflow-auto {
  overflow: auto;
}

.overflow-visible {
  height: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.block-3 {
  max-width: 800px;
  margin: 0 auto;

  background-color: pink;
}
.items {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #d0da45;
}
.item {
  width: 20%;
  display: inline-block;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}
.content {
  font-size: 15px;
  text-align: center;
  background-color: burlywood;
}

/* Home work */

.advantages {
  background-color: #231f8b;
}

.container {
  max-width: 1050px;
  padding: 112px 0px;
  margin: 0 auto;
}
.section {
  max-width: 1044px;
  margin-bottom: 70px;
}
.section-tag {
  color: #5a54f2;
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.section-title {
  color: #fff;
  font-family: "Montserrat" sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.section-text {
  color: #fff;
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: 0.2px;
  max-width: 765px;
}
.cards {
  max-width: 1049px;
  height: 360px;
}
.card {
  display: inline-block;
  max-width: 230px;
  min-height: 321px;
  background-color: #ffffff;
  padding: 35px 40px;
  margin-right: 30px;
  vertical-align: top;
}
.card.item * {
  color: #ffffff;
}
.card.item {
  background-color: #5a54f2;
}
.card.card__item {
  margin-top: 48px;
}
.card-image {
  margin-bottom: 20px;
}
.card-title {
  color: #252b42;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}
.card-line {
  width: 50px;
  height: 2px;
  background: #e74040;
  margin-bottom: 20px;
}
.card-text {
  color: #737373;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
